<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="description" name="description" />
    <meta name="google" content="notranslate" />
    <meta name="msapplication-tap-highlight" content="no" />

    <link rel="icon" href="../../../favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon.ico" />
    <link href="../../../favicon.ico" rel="icon" />

    <title>Tool Suite</title>
  </head>
  <body class="tools-body">
    <app-header></app-header>
    <div class="w-full flex flex-col items-center">
      <div class="divider"></div>
      <div class="content-container">
        <div class="page-title-wrapper">
          <h3 class="page-title">Tool Suite</h3>
        </div>
      </div>
      <div class="divider"></div>
      <div class="content-container">
        <div class="tool-options-wrapper">
          <div routerLink="/tools/create-token" class="tool-option">
            <img
              class="tool-option-image"
              src="../../../assets/icons/generate-assets-icon.png"
            />
            <p class="tool-option-title">Create a token</p>
            <p class="tool-option-desc">
              Create a custom token straight to your wallet
            </p>
          </div>
          <div routerLink="/tools/create-candymachine" class="tool-option">
            <img
              class="tool-option-image"
              src="../../../assets/icons/rocket-icon.png"
            />
            <p class="tool-option-title">Create a candy machine</p>
            <p class="tool-option-desc">
              Launch a custom candy machine & start minting
            </p>
          </div>
          <div class="tool-option">
            <img
              class="tool-option-image"
              src="../../../assets/icons/storefront-icon.png"
            />
            <p class="tool-option-title">Minting storefront</p>
            <p class="tool-option-desc">
              Branded candy machine minting page for your NFT sale
            </p>
          </div>
          <div class="tool-option">
            <img
              class="tool-option-image"
              src="../../../assets/icons/bid-icon.png"
            />
            <p class="tool-option-title">Auction an NFT</p>
            <p class="tool-option-desc">
              Select an NFT from your wallet & a starting bid
            </p>
            <div class="coming-soon-tag">
              <span class="white">Coming soon</span>
            </div>
          </div>
          <div class="tool-option">
            <img
              class="tool-option-image"
              src="../../../assets/icons/drag-and-drop-icon.png"
            />
            <p class="tool-option-title">Generate art</p>
            <p class="tool-option-desc">
              Production ready art + metadata for Sol & Eth
            </p>
            <div class="coming-soon-tag">
              <span class="white">Coming soon</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
