.component-container {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0px;
  padding: 24px 0px;
}

.input-container {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0px;
  padding: 24px;
  background: #020a03;
  border-radius: 12px;
  border: 1px solid #303235;
}

.main-input-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.main-input-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #f8f8f8;
  margin: 0px;
  padding: 0px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
  margin: 0px;
  padding: 0px;
}

.input-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: #f8f8f8;
  margin: 0px;
  padding: 0px;
}

.input-sub-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: rgba(158, 158, 158, 1);
  margin: 0px;
  padding: 0px;
}

.creator-input-wrapper {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px 12px;
  margin: 0px;
  padding: 0px;
}

.creator-share-input {
  min-width: 75px;
  max-width: 75px;
}

.delete-creator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
}

.delete-creator-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  color: #525355;
  transition: 0.5s all;
  cursor: pointer;
}

.delete-creator-icon:hover,
.delete-creator-icon:active  {
  color: #ea5b52;
}

.item-settings-toggle-wrapper {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0px;
  padding: 0px;
}

.item-settings-toggle-item {
  width: 90px;
  height: auto;
  margin: 0px;
  padding: 0px 8px 8px 8px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(158, 158, 158, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.5s all;
}

.item-settings-toggle-item:hover,
.item-settings-toggle-item:active {
  border-bottom: 1px solid rgba(158, 158, 158, 1);
}

.active-item-settings-toggle-item {
  color: #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}

.item-settings-container {
  min-width: 100%;
  max-width: 100%;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  margin: 0px;
  margin-top: -18px;
  padding: 0px;
}

.learn-create-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0px;
  padding: 0px;
}

.collection-nft-container {
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;
  max-height: 250px;
  display: flex;
  justify-content: center;
}

.validate-collection-nft-wrapper {
  width: min(500px, 100%);
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.warning-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 0px;
  padding: 12px 18px;
  background: #1a1b1e;
  border-radius: 40px;
  color: #f2bd00;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.warning-label-icon {
  min-width: 14px;
  max-width: 14px;
  min-height: 14px;
  max-height: 14px;
}

@media (max-width: 500px) {
  .creator-input-wrapper {
    flex-wrap: wrap;
  }
}
