<div
  *ngIf="isModalOpen"
  (click)="closeModal($event)"
  id="closeModal"
  class="selectorModal"
>
  <div class="selectorContainer">
    <button
      class="modalHeaderClose"
      id="closeModal"
      (click)="closeModal($event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="12"
        height="12"
        fill="currentColor"
        class="bi bi-x-lg"
        viewBox="0 0 16 16"
        id="closeModal"
        (click)="closeModal($event)"
      >
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
          id="closeModal"
          (click)="closeModal($event)"
        />
      </svg>
    </button>
    <h3 class="modalTitle">Connect your wallet</h3>
    <p class="modalSubTitle">Choose how you want to connect</p>

    <div class="buttonsWrapper">
      <div
        class="buttonWallet"
        *ngFor="let wallet of wallets$ | async"
        (click)="emitWalletName(wallet.adapter.name)"
      >
        <div class="flex flex-row justify-center items-center gap-8">
          <img
            class="walletIcon"
            [src]="domSanitizer.bypassSecurityTrustUrl(wallet.adapter.icon)"
          />
          <span> {{ wallet.adapter.name }}</span>
        </div>
        <span class="cyan walletStatus">
          {{ wallet.readyState === "Installed" ? "Installed" : "" }}</span
        >
      </div>
    </div>

    <div class="w-full flex flex-row justify-center items-center gap-8">
      <p class="downloadText">Don't have a wallet?</p>
      <p class="downloadLink" (click)="downloadPhantom()">Download Phantom</p>
    </div>
  </div>
</div>
