<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <meta content="description" name="description"/>
    <meta name="google" content="notranslate"/>
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" href="../../../favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon.ico"/>
    <link href="../../../favicon.ico" rel="icon"/>

    <title>Create Candymachine</title>
  </head>
  <body class="create-candymachine-body">
    <app-header></app-header>
    <div class="w-full flex flex-col items-center">
      <div class="divider"></div>
      <div class="content-container">
        <div class="page-title-wrapper">
          <h3 class="page-title">Launch a Candy Machine</h3>
          <div class="created-address-wrapper">
            <p class="created-address">
              Your candy machine: {{ truncatedCandyMachineAddress }}
            </p>
            <span class="iconify copy-address-icon" data-icon="uil:copy"></span>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="content-container flex flex-col justify-center">
        <div class="step-menu-wrapper">
          <div
            class="step-menu-item"
            [ngClass]="{
              'active-step-menu-item' : selectedCreationStage == SETTINGS_STAGE
            }"
            (click)="setCreationStage(SETTINGS_STAGE)"
          >
            <span>Settings</span>
          </div>
          <div
            class="step-menu-item"
            [ngClass]="{
              'active-step-menu-item' : selectedCreationStage == ASSETS_STAGE
            }"
            (click)="setCreationStage(ASSETS_STAGE)"
          >
            <span>Assets</span>
          </div>
          <div
            class="step-menu-item"
            [ngClass]="{
              'active-step-menu-item' : selectedCreationStage == FINALISE_STAGE
            }"
            (click)="setCreationStage(FINALISE_STAGE)"
          >
            <span>Finalise</span>
          </div>
        </div>
        <div class="divider"></div>
        <app-configure-candymachine
          *ngIf="selectedCreationStage == SETTINGS_STAGE"
          [candyMachine]="candyMachine"
          (candyMachineEmitter)="setCandyMachine($event)"
        ></app-configure-candymachine>
        <h3
          *ngIf="selectedCreationStage == ASSETS_STAGE"
          class="white"
        >
          Insert
        </h3>
        <app-finalise-candymachine
          *ngIf="selectedCreationStage == FINALISE_STAGE"
          [candyMachine]="candyMachine"
        ></app-finalise-candymachine>
      </div>
    </div>
  </body>
</html>
