.create-candymachine-body {
  background-color: #020a03;
}

.page-title-container {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #111112;
}

.content-container {
  width: min(1152px, 100%);
}

.page-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0px;
  padding: 58px 24px;
}

.page-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #f8f8f8;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.created-address-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin: 0px;
  padding: 8px 12px;
  background: #020a03;
  border-radius: 7px;
  border: 1px solid #303235;
}

.created-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: rgba(158, 158, 158, 1);
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.copy-address-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  color: #525355;
  transition: 0.5s all;
  cursor: pointer;
}

.copy-address-icon:hover,
.copy-address-icon:active  {
  color: #f8f8f8;
}

.stepper-wrapper {
  min-width: 100%;
  max-width: 100%;
  padding: 24px;
}

mat-stepper {
  min-width: 100%;
  max-width: 100%;
  background: #111112;
  border-radius: 12px;
  border: 1px solid #303235;
  overflow: hidden;
}

::ng-deep .mat-step-header .mat-step-icon {
  opacity: 0;
  display: none;
}

::ng-deep .mat-step-header {
  border-radius: 7px;
  background: rgba(0, 0, 0, 0);
  height: 42px !important;
  padding: 12px !important;
  transition: 0.5s all;
}

::ng-deep .mat-step-header:hover,
::ng-deep .mat-step-header:active {
  background: #30323565 !important;
}

::ng-deep .mat-step-header[aria-selected="true"] {
  background: #303235;
}

.stepper-label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin: 0px;
  padding: 0px;
}

.stepper-label-img {
  width: 42px;
  height: 42px;
  border-radius: 7px;
  object-fit: fill;
  margin: 0px;
  padding: 0px;
}

.stepper-label-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #f8f8f8;
  margin: 0px;
  padding: 0px;
}
